body{
    background-color: rgb(117, 143, 143);
}

*{
    text-align: center;
}

h1{
    margin-top: 30px;
    font-size: 70px;
    font-family: 'Agbalumo', sans-serif;
    text-shadow: 3px 1px 3px red;
    
}

.players{
    display: flex;
    justify-content: center;
    gap: 300px;
    font-size: 30px; font-family: 'Agbalumo', sans-serif;  
}

.dices{
    display: flex;
    justify-content: center;
    gap: 150px;
    margin-top: 30px;
}
/* ----------------buttons -----------*/

.buttons{
    display: flex;
    justify-content: center;
    gap: 300px;
    margin-top: 30px;
}


button {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    touch-action: manipulation;
   }
   
   .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform
       600ms
       cubic-bezier(.3, .7, .4, 1);
   }
   
   .edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
       to left,
       hsl(340deg 100% 16%) 0%,
       hsl(340deg 100% 32%) 8%,
       hsl(340deg 100% 32%) 92%,
       hsl(340deg 100% 16%) 100%
     );
   }
   
   .front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: hsl(345deg 100% 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition: transform
       600ms
       cubic-bezier(.3, .7, .4, 1);
   }
   
   button:hover {
    filter: brightness(110%);
   }
   
   button:hover .front {
    transform: translateY(-6px);
    transition: transform
       250ms
       cubic-bezier(.3, .7, .4, 1.5);
   }
   
   button:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
   }
   
   button:hover .shadow {
    transform: translateY(4px);
    transition: transform
       250ms
       cubic-bezier(.3, .7, .4, 1.5);
   }
   
   button:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
   }
   
   button:focus:not(:focus-visible) {
    outline: none;
   }

   /* ----------------buttons -----------*/
   .button {
    color: white;
    background-color: #222;
    font-weight: 500;
    border-radius: 0.5rem;
    font-size: 1rem;
    line-height: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    text-align: center;
    margin-right: 0.5rem;
    display: inline-flex;
    align-items: center;
    border: none;
  }
  
  .button:hover {
    background-color: #333;
  }
  
  .button svg {
    display: inline;
    width: 1.3rem;
    height: 1.3rem;
    margin-right: 0.75rem;
    color: white;
  }
  
  .button:focus svg {
    animation: spin_357 0.5s linear;
  }
  
  @keyframes spin_357 {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
  @media (max-width: 700px) {
    h1 {
        font-size: 40px;
    }

    .players {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30px;
        font-size: 24px;
    }

    .dices {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 50px;
        margin-top: 10px;
    }

    .buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        margin-top: 10px;
    }

    .dices img {
        width: 80px;
        height: 80px;
    }

    .button {
        font-size: 0.9rem;
        padding: 10px 20px;
    }

    .button svg {
        width: 20px;
        height: 20px;
        margin-right: 8px;
    }
}